@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.task-list-item label {
  display: inline
}

.m0 {
  margin: 0 !important;
}

input[type="radio"] {
  width: 0;
  margin: 0;
  margin-inline-end: 1.2em !important;
  font-family: var(--fa-family-classic);
}

input[type="radio"]::before {
  content: "\f111";
}

input[type="radio"]:checked::before {
  content: "\f192";
}
