@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.task-list-item label {
  display: inline
}

.m0 {
  margin: 0 !important;
}

input[type="radio"] {
  inline-size: 0 !important;
  block-size: 1px !important;
  margin-block: 0 !important;
  margin-inline: 0 1.5em !important;
  font-family: var(--fa-family-classic);
}

input[type="radio"]::before {
  content: "\f111";
}

input[type="radio"]:checked::before {
  content: "\f192";
}
