@import "minimal-mistakes";

blockquote {
  margin-inline: 0;
  font-style: normal;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.m0 {
  margin: 0 !important;
}

table.setting-multi-radio td {
  border-left: 1px solid mix(#000, $border-color, 25%);
}
