---
layout: default
---

{% if page.title %}
<header>
  <h1><a class="text-body text-decoration-none" href="{{ page.url | absolute_url }}">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a></h1>
</header>
{% endif %}

<div class="d-flex gap-3">
  <section class="flex-fill"{% if page.toc %} data-bs-spy="scroll" data-bs-target="#tocnav"{% endif %}>
    {{ content }}
  </section>
  {% if page.toc %}
  <div class="z-2 me-3 me-md-0 border-0 bg-transparent offcanvas-md offcanvas-end flex-shrink-0 sticky-md-top" data-bs-scroll="true" data-bs-backdrop="false" id="toc" style="width: 240px; max-height: calc(100vh - 128px); top: 80px;">
    <div class="card">
      <div class="card-header"><i class="bi bi-list-ul"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</div>
      <nav id="tocnav" class="p-2 overflow-auto small">{% include toc.html class="nav nav-pills flex-column" submenu_class="nav nav-pills flex-column ms-4 pt-1" anchor_class="nav-link px-2 py-1" sanitize=true html=content h_min=1 h_max=6 skip_no_ids=true %}</nav>
    </div>
  </div>
  {% endif %}
</div>
